@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Vujahday+Script&family=Yeseva+One&display=swap');

body{
    font-family: 'Yeseva One',
    cursive;
    margin: 0px;
}
h1{
    font-size: 60px;
    font-weight: 400;
    border-left: 5px solid yellowgreen;
    border-radius: 5px;
    padding-left: 10px;
}
h2{
    
    font-size: 45px;
}
h3{
    font-family: 'Vujahday Script',
    cursive;
    font-size: 30px;
}
h5{
    font-size: 18px;
    margin-left: 19%;
}
p{
    font-family: 'Roboto Slab',
    serif;
    font-size: 14px;
    
}
#year{
    color: mediumvioletred;
}
.Sections{
    display: flex;
    margin-bottom: 10px;
    margin-top: 2%;
    margin-bottom: 5%;
}
.missions{
    display: flex;
    height: 350px;
    margin-bottom: 10px;
    margin: 5%;
}
.text-color{
    color: tomato;
}
.text-div{
padding: 2%;
width: 40%;
height: 300px;
text-align: justify;
margin-left: 5%;
}
.button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: bold;
    padding: 15px 45px;
    border-radius: 5px;
    margin-top: 5px;
    
}
.my-pic{
    width: 40%; 
    margin-left: 5%;
    margin-top: 2%;
    padding-left: 5%; 
}
.my-pic img{
    width: 70%;
    border-radius: 10%;
}
.mission1{
    background-color: #f0fdff;
    width: 30%;
    margin: 10px;
    border-radius: 5%;
    padding: 15px;
}
.mission2 {
    background-color: #ffeaea;
    width: 30%;
    margin: 10px;
    border-radius: 5%;
    padding: 15px;
}
.mission3 {
    background-color: #FFF4D6;
    width: 30%;
    margin: 10px;
    border-radius: 5%;
    padding: 15px;
}
.icon{
    width: 30%;
    height: 100px;
    margin-left: 15%;
}
#devpic{
    height: 400px;
    margin-right: 5%;
   
   
}
#dev-section{
 background-image: url("shape-1.png");
 background-repeat: no-repeat;
 background-size: 25%;
 background-position:left;
}
#glo-section{
    background-image: url("shape-1.png");
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: right bottom;
}
#glopic{
    margin-left: 18%;
}
.heading{
    text-align: center;
}
#own-dev{
        display: flex;
        height: 350px;
        margin: 5% 15% 10px 30%;
    
}
#own-dev-pic{
    width: 35%;
    margin-bottom: 5%;
    background-image: url("shape-3.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: left top;
    margin-right: 10%;
}
#own-dev-pic img{
    width: 90%;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding:10px ;
}

